<!DOCTYPE html>
<html>
<head>
    <title>Micowork</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css"> <!-- reset.cssを読み込む -->
    <link rel="stylesheet" type="text/css" href="../../css/slide.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<header class="header">
    <div class="inner">
        <div class="header-name">
            <a href="/index.html">
                <h3 class="header-site">求人情報サイト</h3>
                <h3 class="header-company-name">Micowork</h3>
            </a>
        </div>
        <a href="/src/php/process.php" target="_blank" class="new-jobs-button">お問い合わせ</a>
    </div>


    <form action="/src/php/data.php" method="GET">
      <div class="button-group">
          <ul class="nav-list">
              <li class="dropdown">
                  <button class="nav-button no-arrow" name="area" value="">全国</button>
              </li>
              <li class="dropdown">
                  <div class="nav-button">関東</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="茨城">茨城</button></li>
                      <li><button type="submit" name="area" value="栃木">栃木</button></li>
                      <li><button type="submit" name="area" value="群馬">群馬</button></li>
                      <li><button type="submit" name="area" value="埼玉">埼玉</button></li>
                      <li><button type="submit" name="area" value="千葉">千葉</button></li>
                      <li><button type="submit" name="area" value="東京">東京</button></li>
                      <li><button type="submit" name="area" value="神奈川">神奈川</button></li>
                      <!-- 他のエリアを追加 -->
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">関西</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="滋賀">滋賀</button></li>
                      <li><button type="submit" name="area" value="京都">京都</button></li>
                      <li><button type="submit" name="area" value="大阪">大阪</button></li>
                      <li><button type="submit" name="area" value="兵庫">兵庫</button></li>
                      <li><button type="submit" name="area" value="奈良">奈良</button></li>
                      <li><button type="submit" name="area" value="和歌山">和歌山</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">東海</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="岐阜">岐阜</button></li>
                      <li><button type="submit" name="area" value="静岡">静岡</button></li>
                      <li><button type="submit" name="area" value="愛知">愛知</button></li>
                      <li><button type="submit" name="area" value="三重">三重</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <li><button class="nav-button no-arrow" type="submit" name="area" value="北海道">北海道</button></li>
              </li>

              <li class="dropdown">
                  <div class="nav-button">東北</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="青森">青森</button></li>
                      <li><button type="submit" name="area" value="岩手">岩手</button></li>
                      <li><button type="submit" name="area" value="宮城">宮城</button></li>
                      <li><button type="submit" name="area" value="秋田">秋田</button></li>
                      <li><button type="submit" name="area" value="山形">山形</button></li>
                      <li><button type="submit" name="area" value="福島">福島</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">甲信越・北陸</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="新潟">新潟</button></li>
                      <li><button type="submit" name="area" value="富山">富山</button></li>
                      <li><button type="submit" name="area" value="石川">石川</button></li>
                      <li><button type="submit" name="area" value="福井">福井</button></li>
                      <li><button type="submit" name="area" value="山梨">山梨</button></li>
                      <li><button type="submit" name="area" value="長野">長野</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">中国・四国</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="島根">島根</button></li>
                      <li><button type="submit" name="area" value="鳥取">鳥取</button></li>
                      <li><button type="submit" name="area" value="岡山">岡山</button></li>
                      <li><button type="submit" name="area" value="広島">広島</button></li>
                      <li><button type="submit" name="area" value="長野">山口</button></li>
                      <li><button type="submit" name="area" value="徳島">徳島</button></li>
                      <li><button type="submit" name="area" value="香川">香川</button></li>
                      <li><button type="submit" name="area" value="愛媛">愛媛</button></li>
                      <li><button type="submit" name="area" value="高知">高知</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">九州・沖縄</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="福岡">福岡</button></li>
                      <li><button type="submit" name="area" value="佐賀">佐賀</button></li>
                      <li><button type="submit" name="area" value="長崎">長崎</button></li>
                      <li><button type="submit" name="area" value="熊本">熊本</button></li>
                      <li><button type="submit" name="area" value="大分">大分</button></li>
                      <li><button type="submit" name="area" value="宮崎">宮崎</button></li>
                      <li><button type="submit" name="area" value="鹿児島">鹿児島</button></li>
                      <li><button type="submit" name="area" value="沖縄">沖縄</button></li>
                  </ul>
              </li>

          </ul>
      </div>
  </form>
</header>


<div id="job-listing">
    <div class="job-info">
        <div class="job-detail">
            <ul class="genre-list">
            <li class="genre-1">東京</li>
            <li class="genre-2">整備士・車関係</li>
            <li class="genre-3">正社員</li>
            </ul>
        <h2 class="job-title">有限会社　篠崎自動車 / 自動車整備士　メカニック</h2>
    </div>
        <img class="job-image" src="/src/detail-img/東京/有限会社　篠崎自動車 : 自動車整備士　メカニック.jpg" alt="求人画像">
    <p class="job-description"></p>
    <table class="job-details">
        <tr>
            <td>会社名</td>
            <td>有限会社 篠崎自動車</td>
        </tr>
        <tr>
            <td>所在地</td>
            <td>〒194-0212 東京都町田市小山町３１６９番地１</td>
        </tr>
        <tr>
            <td>勤務地</td>
            <td>同上</td>
        </tr>
        <tr>
            <td>職種</td>
            <td>自動車整備士　メカニック</td>
        </tr>
        <tr>
            <td>アクセス</td>
            <td>最寄り駅<br>
                京王線　多摩境駅<br>
                最寄り駅から就業場所までの交通手段<br>
                徒歩<br>
                所要時間<br>
                5分
            </td>
        </tr>
        <tr>
            <td>雇用形態</td>
            <td>正社員</td>
        </tr>
        <tr>
            <td>仕事内容</td>
            <td>自動車の車検整備、点検、修理、付随して洗車などを行って頂きます。<br><br>
                
                電話対応やお客様へのご納車、お引取りなどの回送業務も臨時的に<br>
                行って頂くこともございますが、専属スタッフがおりますので、整<br>
                備業務に集中できる環境を用意しております。<br><br>
                
                今まで培ってきたスキル、経験、資格に基づき無理なく業務を采配<br>
                し、経験豊富な社員からのＯＪＴ方式での指導もございますので、<br>
                分からないことはその場で確認出来る環境となっております。
            </td>
        </tr>
        <tr>
            <td>給与</td>
            <td>225,000円〜482,000円<br>
                皆勤手当 10,000円〜10,000円<br>
                資格手当手当 10,000円〜10,000円<br>
                74,493円〜152,617円<br>
                時間外手当は、時間外労働の有無にかかわらず、固定残業代として<br>
                支給し、42時間を超える時間外労働は追加で支給。<br>
                二級整備士資格をお持ちの方は年収４００万以上<br>
                賞与あり（年２回）<br>
                前年実績200,000円～300,000円<br><br>
                
                諸手当支給、インセンティブ制度あり
            </td>
        </tr>
        <tr>
            <td>待遇</td>
            <td>雇用保険，労災保険，健康保険，厚生年金</td>
        </tr>
        <tr>
            <td>勤務時間</td>
            <td>9時00分〜18時00分</td>
        </tr>
        <tr>
            <td>募集条件</td>
            <td>年齢	<br>
                年齢制限<br>
                制限あり<br>
                年齢制限範囲<br>
                〜40歳<br>
                学歴	<br>
                不問<br>
                必要な経験等	<br>
                必要な経験・知識・技能等<br>
                必須<br>
                ２級整備士<br>
                必要な免許・資格	<br>
                免許・資格名<br>
                三級自動車整備士<br>
                必須<br>
                二級自動車整備士<br>
                必須<br>
                いずれかの資格を所持で可<br>
                普通自動車運転免許<br>
                必須（ＡＴ限定可）
            </td>
        </tr>
        <tr>
            <td>休日/休暇</td>
            <td>
                土曜日，日曜日，祝日<br>
                隔週週休二日制<br>
                平日に休日を取っていただく事も可能
            </td>
        </tr>
        <tr>
            <td>応募方法</td>
            <td>
                電話 応募<br>
                「Mico work を見た」と言って頂けるとスムーズにお繋ぎすることができます。
            </td>
        </tr>
        <tr>
            <td>面接地</td>
            <td>〒194-0212 東京都町田市小山町３１６９番地１</td>
        </tr>
        <tr>
            <td>受付担当</td>
            <td>杉山</td>
        </tr>
    </table>
    
    <p class="call">電話で応募する：<a href="tel:042-773-6322">042-773-6322</a></p>
    
    
    
    <!-- <p class="email">メールで応募する：<a href="mailto:tanaka@peparlet.com">tanaka@peparlet.com</a></p> -->


    </div>
  </div>





   <!--フッターーーーーーーーーーーーーーーーーーーーーーーーーーー-->

    

<footer class="footer">
    <div class="footer-inner">
        <div class="footer-name">
            <h3 class="footer-site">求人情報サイト</h3>
            <h3 class="footer-company-neme">Micowork</h3>
            <div class="policy"><a href="/policy.html">プライバシーポリシー</a></div>
            <div class="link"><a href="/company.html">運営会社</a></div>
        </div>
    </div>
</footer>




<!-- 一番上に戻るボタン -->
<button class="scroll-to-top-button">
<i class="fa-regular fa-chevron-down fa-rotate-180"></i>
</button>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- ここでSlickライブラリをCDNから読み込む -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- ここでRemodalライブラリをCDNから読み込む -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>

<!-- ここでstyle.jsを読み込む -->
<script src="/src/js/style.js"></script>

</body>
</html>