* {
    padding: 0;
    margin: 0;
}

body {
  line-height: 1.6;
}

/*ヘッダーーーーーーーーーーーーーーーー*/

.header {
    background-color: #fff; /* ヘッダーの背景色を指定 */
    max-width: 100%;
}

.header-name{
    width: 20%;
    text-align: center;
}

.inner{
    width: 80%;
    align-items: center;
    padding: 15px 0px;
    margin-left: 10%;
}

.header-site{
    background-color: rgb(186,218,84);
    border-radius: 16px;
}

.header-company-name{
    font-size: 35px;
}



/*メインタイトルーーーーーーーーーーーーーーー*/

.policy{
    text-align: center;
    width: 100%;
  }

.policy h2{
    font-size: 30px;
}

  .policy h3 {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 0px 100px;
}

.policy h3::before,
.policy h3::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%; /* 50%の線を設定 */
    border-top: 1px solid rgb(186,218,84); /* 線のスタイルを設定 */
}

.policy h3::before {
    left: 20px;
    transform: translateX(-50%); /* テキストの幅に合わせて線を調整 */
}

.policy h3::after {
    right: 20px;
    transform: translateX(50%); /* テキストの幅に合わせて線を調整 */
}


/*メイン内容ーーーーーーーーーーーーーーー*/

.policy-info{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}


.policy-info h3{
    border-bottom: 3px solid rgb(186,218,84);
    font-size: 25px;
}

.policy-text{
    margin-bottom: 80px;
}

.policy-text h4{
    padding-top: 30px;
}

.policy-text p{
    padding-top: 10px;
}






/*フッターーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
footer{
    background-color: rgb(186,218,84);
  }
  
  .footer-inner{
    padding: 30px 0px;
    width: 20%;
    margin: 0 auto;
    text-align: center;
  }

  .footer-name{
    color: white;
  }

  .footer-site{
    background-color: white;
    color: rgb(186,218,84);
    border-radius: 40px;
  }

  .footer-company-neme{
    font-weight: 900;
    font-size: 40px;
  }

  .policy{
    padding-top: 10px;
  }

  .link{
    padding-top: 10px;
  }

  /*スクロールボタンーーーーーーーーーーーーーーーーーーーーーーーーーー*/
  
  
  /* ボタンのスタイル */
  .scroll-to-top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(186,218,84);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  /* ボタンの中に不等号のような矢印のスタイル */
  .scroll-to-top-button i {
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    color: black;
  }
  
  /* ボタンのホバー時のスタイル */
  .scroll-to-top-button:hover {
    background-color: rgb(186,218,84);
  }
  