<!DOCTYPE html>
<html>
<head>
    <title>Micowork</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css"> <!-- reset.cssを読み込む -->
    <link rel="stylesheet" type="text/css" href="../../css/slide.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<header class="header">
    <div class="inner">
        <div class="header-name">
            <a href="/index.html">
                <h3 class="header-site">求人情報サイト</h3>
                <h3 class="header-company-name">Micowork</h3>
            </a>
        </div>
        <a href="/src/php/process.php" target="_blank" class="new-jobs-button">お問い合わせ</a>
    </div>


    <form action="/src/php/data.php" method="GET">
      <div class="button-group">
          <ul class="nav-list">
              <li class="dropdown">
                  <button class="nav-button no-arrow" name="area" value="">全国</button>
              </li>
              <li class="dropdown">
                  <div class="nav-button">関東</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="茨城">茨城</button></li>
                      <li><button type="submit" name="area" value="栃木">栃木</button></li>
                      <li><button type="submit" name="area" value="群馬">群馬</button></li>
                      <li><button type="submit" name="area" value="埼玉">埼玉</button></li>
                      <li><button type="submit" name="area" value="千葉">千葉</button></li>
                      <li><button type="submit" name="area" value="東京">東京</button></li>
                      <li><button type="submit" name="area" value="神奈川">神奈川</button></li>
                      <!-- 他のエリアを追加 -->
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">関西</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="滋賀">滋賀</button></li>
                      <li><button type="submit" name="area" value="京都">京都</button></li>
                      <li><button type="submit" name="area" value="大阪">大阪</button></li>
                      <li><button type="submit" name="area" value="兵庫">兵庫</button></li>
                      <li><button type="submit" name="area" value="奈良">奈良</button></li>
                      <li><button type="submit" name="area" value="和歌山">和歌山</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">東海</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="岐阜">岐阜</button></li>
                      <li><button type="submit" name="area" value="静岡">静岡</button></li>
                      <li><button type="submit" name="area" value="愛知">愛知</button></li>
                      <li><button type="submit" name="area" value="三重">三重</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <li><button class="nav-button no-arrow" type="submit" name="area" value="北海道">北海道</button></li>
              </li>

              <li class="dropdown">
                  <div class="nav-button">東北</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="青森">青森</button></li>
                      <li><button type="submit" name="area" value="岩手">岩手</button></li>
                      <li><button type="submit" name="area" value="宮城">宮城</button></li>
                      <li><button type="submit" name="area" value="秋田">秋田</button></li>
                      <li><button type="submit" name="area" value="山形">山形</button></li>
                      <li><button type="submit" name="area" value="福島">福島</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">甲信越・北陸</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="新潟">新潟</button></li>
                      <li><button type="submit" name="area" value="富山">富山</button></li>
                      <li><button type="submit" name="area" value="石川">石川</button></li>
                      <li><button type="submit" name="area" value="福井">福井</button></li>
                      <li><button type="submit" name="area" value="山梨">山梨</button></li>
                      <li><button type="submit" name="area" value="長野">長野</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">中国・四国</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="島根">島根</button></li>
                      <li><button type="submit" name="area" value="鳥取">鳥取</button></li>
                      <li><button type="submit" name="area" value="岡山">岡山</button></li>
                      <li><button type="submit" name="area" value="広島">広島</button></li>
                      <li><button type="submit" name="area" value="長野">山口</button></li>
                      <li><button type="submit" name="area" value="徳島">徳島</button></li>
                      <li><button type="submit" name="area" value="香川">香川</button></li>
                      <li><button type="submit" name="area" value="愛媛">愛媛</button></li>
                      <li><button type="submit" name="area" value="高知">高知</button></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <div class="nav-button">九州・沖縄</div>
                  <ul class="dropdown-menu">
                      <li><button type="submit" name="area" value="福岡">福岡</button></li>
                      <li><button type="submit" name="area" value="佐賀">佐賀</button></li>
                      <li><button type="submit" name="area" value="長崎">長崎</button></li>
                      <li><button type="submit" name="area" value="熊本">熊本</button></li>
                      <li><button type="submit" name="area" value="大分">大分</button></li>
                      <li><button type="submit" name="area" value="宮崎">宮崎</button></li>
                      <li><button type="submit" name="area" value="鹿児島">鹿児島</button></li>
                      <li><button type="submit" name="area" value="沖縄">沖縄</button></li>
                  </ul>
              </li>

          </ul>
      </div>
  </form>
</header>


<div id="job-listing">
    <div class="job-info">
        <div class="job-detail">
            <ul class="genre-list">
            <li class="genre-1">愛媛</li>
            <li class="genre-2">保育士</li>
            <li class="genre-3">正社員</li>
            </ul>
        <h2 class="job-title">社会福祉法人　関川愛育会　幼保連携型認定こども園アンジェリーナ / 保育教諭</h2>
    </div>
        <img class="job-image" src="/src/detail-img/愛媛/社会福祉法人　関川愛育会　幼保連携型認定こども園アンジェリーナ : 保育教諭.jpeg" alt="求人画像">
    <p class="job-description"></p>
    <table class="job-details">
        <tr>
            <td>会社名</td>
            <td>社会福祉法人 関川愛育会 幼保連携型認定こども園アンジェリーナ</td>
        </tr>
        <tr>
            <td>所在地</td>
            <td>〒799-0721 愛媛県四国中央市土居町上野乙158番地1</td>
        </tr>
        <tr>
            <td>勤務地</td>
            <td>事業所所在地と同じ<br>〒799-0721 愛媛県四国中央市土居町上野乙158番地1</td>
        </tr>
        <tr>
            <td>職種</td>
            <td>保育教諭</td>
        </tr>
        <tr>
            <td>アクセス</td>
            <td>
                最寄り駅<br>
                ＪＲ予讃線 関川駅<br>
                最寄り駅から就業場所までの交通手段<br>
                徒歩<br>
                所要時間<br>
                15分
            </td>
        </tr>
        <tr>
            <td>雇用形態</td>
            <td>正社員</td>
        </tr>
        <tr>
            <td>仕事内容</td>
            <td>
                ◆保育教諭として「認定こども園アンジェリーナ」にて次のいずれかの業務を行っていただきます。<br>
                ・0（6か月以上）〜5歳児クラス担任（未満児は複数担任）<br>
                ・支援の必要なお子さんについて、保育の業務
            </td>
        </tr>
        <tr>
            <td>給与</td>
            <td>
                基本給 141,000円〜184,700円<br>
                処遇改善1手当 9,870円〜12,929円<br>
                処遇改善3手当 11,000円〜11,000円<br>
                特殊業務手当 5,640円〜7,388円<br>
                通勤手当は規定により2キロ以上で支給します。（月額8,900円）
            </td>
        </tr>
        <tr>
            <td>待遇</td>
            <td>雇用保険，労災保険，健康保険，厚生年金</td>
        </tr>
        <tr>
            <td>勤務時間</td>
            <td>
                就業時間1<br>
                7時30分〜16時15分<br>
                就業時間2<br>
                8時30分〜17時15分<br>
                就業時間3<br>
                9時00分〜18時30分<br>
                就業時間に関する特記事項<br>
                就業時間が8時間を超える場合は休憩時間は法定通り
            </td>
        </tr>
        <tr>
            <td>募集条件</td>
            <td>
                年齢<br>
                年齢制限<br>
                制限あり<br>
                年齢制限範囲<br>
                〜64歳<br>
                年齢制限該当事由<br>
                定年を上限<br>
                年齢制限の理由<br>
                定年年齢を上限として募集採用するため<br>
                学歴<br>
                不問<br>
                必要な経験等<br>
                必要な経験・知識・技能等<br>
                不問<br>
                必要な免許・資格<br>
                免許・資格名<br>
                保育士 必須<br>
                幼稚園教諭免許（専修・1種・2種） 必須
            </td>
        </tr>
        <tr>
            <td>休日/休暇</td>
            <td>土曜日，日曜日，祝日<br>土曜日は1〜2か月に1回程度出勤あり。その場合、平日に代休取得。<br>日曜日に行事がある場合は、翌月曜日が休園。</td>
        </tr>
        <tr>
            <td>応募方法</td>
            <td>電話 応募<br>「Mico work を見た」と言って頂けるとスムーズにお繋ぎすることができます。</td>
        </tr>
        <tr>
            <td>面接地</td>
            <td>〒799-0721 愛媛県四国中央市土居町上野乙158番地1</td>
        </tr>
        <tr>
            <td>受付担当</td>
            <td>宮本 潤子</td>
        </tr>
    </table>
    <p class="call">応募先電話番号：<a href="tel:0896-74-6980">0896-74-6980</a></p>
    

    <!-- <p class="email">メールで応募する：<a href="mailto:tanaka@peparlet.com">tanaka@peparlet.com</a></p> -->


    </div>
  </div>





   <!--フッターーーーーーーーーーーーーーーーーーーーーーーーーーー-->

    

<footer class="footer">
    <div class="footer-inner">
        <div class="footer-name">
            <h3 class="footer-site">求人情報サイト</h3>
            <h3 class="footer-company-neme">Micowork</h3>
            <div class="policy"><a href="/policy.html">プライバシーポリシー</a></div>
            <div class="link"><a href="/company.html">運営会社</a></div>
        </div>
    </div>
</footer>




<!-- 一番上に戻るボタン -->
<button class="scroll-to-top-button">
<i class="fa-regular fa-chevron-down fa-rotate-180"></i>
</button>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- ここでSlickライブラリをCDNから読み込む -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- ここでRemodalライブラリをCDNから読み込む -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>

<!-- ここでstyle.jsを読み込む -->
<script src="/src/js/style.js"></script>

</body>
</html>